*{
    margin:0px;
    padding: 0px;
}
body {
    font-family: "Roboto", sans-serif;
    color: #2E2F42;
    margin: 0px;
    padding: 0px;
}
header{
    background-color: white;
    
}
ul {
    list-style-type: none;
}
.header-container{
    display: flex;
    justify-content: space-between;
    padding: 24px 156px;
    border-bottom: 1px solid #e7e9fc;
    align-items: center;
}
.header-left{
    display: flex;
    align-items: center;
    gap:76px;
}


.container {
    width: 1440px;
    margin: 0 auto;

}
.logo{
    font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-decoration: none;
        font-style:bold;
}
.logo .web{
color:#4D5AE5;
}
.logo .studio{
color:#2E2F42;
}
.nav{
    text-align: center;
    font-family: "Roboto", sans-serif;
}
.list{
    display:flex;
    flex-direction:row;

}
.nav a {
    text-decoration: none;
    text-align:center;
    color:#2E2F42;
    font-weight:500;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    padding-bottom:20px;
    position: relative;  
}
.nav a:hover{
   color: #404BBF;
}
.nav a:active{
   color: #404BBF;
}

.contacts{
    text-align:right;
    font-style: normal;
    

}
.contacts a {
    text-decoration: none;
    font-size:16px;
    line-height: 1.5;
    letter-spacing: 2%;
    color:#434455;
    
}
.list{
gap: 40px;
}
.contacts a:hover{
    color: #404BBF;
}

.main-page{
    background-color: #2E2F42;
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 48px;
        padding: 188px 472px;
        background-image: url(../images/people-office-1.jpg);
        background-size: 1440px 600px;
        background-repeat: no-repeat;
        box-sizing: border-box;
        position: relative;
}
.main-page::before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity:0.7;
    background-color: #2E2F42;
    z-index: 0;
}

.page-title{
    color:white;
    font-weight:700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    width: 496px;
    height: 120px;
    z-index: 1;
    position: relative;
}
    
.btn{
    background-color: #4D5AE5;
    width: 169px; 
    height: 56px;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1;
    position: relative;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}
.btn:hover{
    background-color:#404BBF;
}
.btn-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-weight: 500;
    color: white;
    }
    .modal{
        position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            display: none;
            justify-content: center;
            align-items: center;
            z-index: 1;
    }
    .is-open{
        display: flex;
    }
    .modal-form{
        background-color: #fcfcfc;
            width: 408px;
            height: 584px;
            display: flex;
            flex-direction: column;
            border-radius: 4px;
            box-shadow: 0px 1px 1px 0px #000000;
            position: absolute;
            padding: 24px;
            box-sizing: border-box;
            gap: 8px;
            align-items: center;
    }
    .modal-form > label{
        display: flex;
            flex-direction: column;
            font-size: 12px;
            line-height: 1.333;
            color: #8e8f99;
            letter-spacing: 0.04em;
            gap: 4px;
            width: 100%;
    }
    .modal-form > label > input{
        height:40px;
        border-radius:4px;
        border: 1px solid rgba(46, 47, 66, 0.4);  
    }
    .modal-form > label > input:focus{
        border:2px solid #4d5ae5;
    }
    .modal-form,check-option{
        flex-direction: column;
        align-items: center;
    }
        .privacy {
            color: #4d5ae5;
            text-decoration: underline;
        }
        .btn-close{
            width: 8px;
            height: 8px;
            fill:#2E2F42;
        }
        .btn-modal{
            border-radius: 50%;
                width: 24px;
                height: 24px;
                display: flex;
                border: 1px solid rgba(0, 0, 0, 0.1);
                background-color: #e7e9fc;
                align-items: center;
                justify-content: center;
                align-self: flex-end;
        }
                .btn-modal:hover {
                    background-color: #404bbf;
                }
        
                .btn-modal:hover>svg {
                    fill: #ffffff;
                }
                                .modal-title {
                                    color: #2e2f42;
                                    font-weight: 500;
                                    font-size: 16px;
                                    line-height: 1.5;
                                    margin-bottom: 16px;
                                }
                .input-container{
                    position:relative;
                    
                }
                         .input-container>input {
                             width: 360px;
                             height: 40px;
                             border: 1px solid rgba(46, 47, 66, 0.4);
                             outline: none;
                             border-radius: 4px;
                             padding-left: 38px;
                             box-sizing: border-box;
                         }
                         
                .input-container > input:focus{
                    border-color: rgba(77, 90, 229, 1);
                   
                }
                .text-input:focus + .icon-container{
                    fill:#4D5AE5;

    }

            
                .input-container>svg {
                    position: absolute;
                    color: #2e2f42;
                    width: 18px;
                    height: 24px;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 16px;
                }
                
                .comment-cont{
                    width: 360px;
                    height: 120px;
                    border: 1px solid rgba(46, 47, 66, 0.4);
                    border-radius: 4px;
                    font-size: 12px;
                    line-height:14px ;
                    letter-spacing: 0.04em;
                    box-sizing:border-box;
                    padding: 8px 16px;
                    outline:none;
                    

                }
                   .comment-cont::placeholder {
                      color: rgba(117, 117, 117, 0.5);
                      opacity: 1;
                   }
                   .btn-send{
                            width: 169px;
                            height: 56px;
                            border-radius: 4px;
                            background-color: #4d5ae5;
                            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
                            font-weight: 500px;
                            font-size: 16px;
                            line-height: 1.5px;
                            letter-spacing: 4%;
                            color: #ffffff;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: 0;
                            cursor: pointer;
                            transition-property: background-color;
                            transition-duration: 250ms;
                            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                   }
    

    .values-list{
        display:flex;
        align-items: center;
        padding:120px 156px;
        gap: 24px;

    }
    .check{
        display: flex;
        flex-direction: row;
        font-size:12px;
        line-height: 14px;
        letter-spacing: 0.04em;
        color: rgba(117, 117, 117, 1);
        padding-bottom: 24px;
      
}
.check span{
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
}
    .check label {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap:8px;

    }
    .icon-container{
        width           : 264px;
        height          : 112px;
        border          : 1px solid #8e8f99;
        background-color: #f4f4fd;
        display         : flex;
        align-items     : center;
        justify-content : center;
        margin-bottom   : 8px;
        
    }
    .values-icon{
        width: 64px;
    height: 64px;
    }
.values-list > li > h3{
    color:#2E2F42;
    font-weight: 500;
    font-size:20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    padding-bottom: 8px;
}
.values-list > li > p{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.our-team ,
.our-portfolio{
    
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 120px 156px;

}
.our-team{
    background-color: #F4F4FD;
}
.social-icon{
        width: 16px;
        height: 16px;
        
}
.social-container{
    display: flex;
    gap:24px;
    padding-left: 16px;
    padding-right: 16px;
    
}
.social-container >li,
.finish-social-container > li {
    width: 40px;
        height: 40px;
        background-color: #4d5ae5;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        cursor: pointer;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        
    }
    .social-container>li:hover{
        background-color:#404BBF;
    }
    .finish-social-container>li:hover {
            background-color: #31d0aa;
        }

.our-team h2,
.our-portfolio h2{
    color:#2E2F42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing:0.02em;
    padding-bottom: 72px;
}
.portfolio-container{
    position                  : absolute;
    background-color          : #4D5AE5;
    height                    : 300px ;
    color                     : #F4F4FD;
    font-size                 : 16px;
    letter-spacing            : 0.02em;
    line-height               : 1.333;
    box-sizing                : border-box;
    padding-left              : 32px;
    padding-top               : 40px;
    opacity                   : 0;
    transition-property       : opacity;
    transition-duration       : 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    top: 0;
    left: 0;
}

.team{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap:24px;

}
.team > li {
background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-bottom: 32px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-list{
    display: flex;
    flex-direction: row;
    gap: 24px;
    flex-wrap: wrap;
    
}
.portfolio-list >li{
    width: 360px;
    height: 420px;
    box-sizing: border-box;
        flex-direction: column;
        border-bottom: 1px solid #e7e9fc;
        border-left: 1px solid #e7e9fc;
        border-right: 1px solid #e7e9fc;
        cursor: pointer;
        position: relative;
        transition-property: box-shadow;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        position: relative;
        
        
    
}
.portfolio-list > li:hover{
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16);
}
.portfolio-list > li:hover .portfolio-container{
    opacity: 1;
}
.team >li > h3,
.portfolio-list > li > h3{
    color:#2E2F42;
    font-weight:500;
    font-size:20px;
    line-height: 1.2;
    letter-spacing:0.02em;
    
}
.team > li > p,
.portfolio-list > li > p{
    color: #434455;
    font-size: 16px;
    font-style:regular;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.team >li {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 264px;
    height: 428px;
}
.name{
    padding: 32px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:8px;
}
.team img,
.portfolio-list img {
    display: block;
    max-width: 100%;
    height: auto;
}
.port-name{
    padding: 32px 16px;
    gap:8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.finish{
    background-color: #2E2F42;
    height: 312px;
    padding: 100px 156px ;
display: flex;
flex-direction: row;
gap: 120px;
    

}
.finish > .logo{
            font-family: "Raleway", sans-serif;
            font-size: 18px;
            font-weight: 700;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            text-decoration: none;
            font-style: bold;
        }
    
        .logo .web {
            color: #4D5AE5;
        }
    
        .logo .second {
            color: white;
}
.finish p {
    color:#F4F4FD;
    font-size: 16px;
    line-height:1.5;
    letter-spacing:0.02em;
}
.finish-social-container{
    display: flex;
    gap:16px;
    justify-content: center;
    align-items: center;
    
}
.finish-social{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.last{
    width: 264px;
    height: 112px;
}
.last p{
    padding-top: 16px;
}
.subscribe{
    gap: 24px;
}
.subscribe > label{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sub-footer{
    width: 264px;
    height: 40px;
    border: 1px solid white;
    border-radius: 4px;
    box-shadow: 0 4 4 0 rgba(0, 0, 0, 0.15);
        font-size: 12px;
        line-height: 24px;
        letter-spacing: 0.04em;
       background-color: #ffffff;
        padding: 8px 16px;
        box-sizing: border-box;
background-color:transparent;
}
.sub-footer::placeholder{
    color: white;
}

.sub-footer-btn{
    background-color:#4D5AE5;
    color: #FFFFFF;
    width: 165px;
    height: 40px;
    top:140px;
    left:1116px;
    padding: 8px 24px 8px 24px;
    gap:16px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: none;
}
.x{
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.sub-text{
    width: 77px;
    height:24px;
    
    font-weight: 500;
    font-style:medium;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    justify-content: center;
    align-items: center;
}

.sub-icon{
    width: 24px;
        height: 24px;
}
